@page "/home"

<MudPaper Elevation="3">
    <MudContainer  Fixed="true" MaxWidth="MaxWidth.Small">
        
        <MudCard>
            <MudCardMedia Image="https://source.unsplash.com/1600x900/?Aliens" />
            <MudCardContent>
                <h1 class="display-4">
                    Welcome to Digital Playground
                    <a href="https://digitalPlayground.ben-hassen.com" target="_blank"></a> 
                </h1>
                    <NicePage></NicePage>
              

            </MudCardContent>
            <MudCardActions>
               <ServerTime></ServerTime>  
            </MudCardActions>
        </MudCard>


        

        <p>
            @* The ultimate goal is to create a game that is played by coding its functionalities, on the browser. *@
            @* You don't need to be a coder, think of a modern Age of empire kind of game. *@
            @* But if you are a coder, you may combine  *@
            
            <a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-5.0">
                Blazor Server
                and Blazor WebAssembly
            </a> modes.
        </p>

        <div class="alert alert-primary" role="alert">
            <b>Note:</b> you can also trigger actions in this sample via its
            <a href="/swagger" target="_blank">web API</a>.
        </div>

        <p>
            Choose the mode to use:<br />
            <BlazorModeSwitch />
        </p>
        <hr class="my-4">
        <p class="lead">Please share your feedback once you're done playing with it!</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://forms.gle/TpGkmTZttukhDMRB6" role="button">Share your feedback</a>
        </p>
    </MudContainer>
</MudPaper>




