@page "/home"

<MudPaper Elevation="3">
    <MudContainer  Fixed="true" MaxWidth="MaxWidth.Small">
        
        <MudCard>
            <MudCardMedia Image="https://source.unsplash.com/1600x900/?Aliens" />
            <MudCardContent>
                <h1 class="display-4">
                    Welcome to Digital Playground
                    <a href="https://digitalPlayground.ben-hassen.com" target="_blank"></a> 
                </h1>
                
             
                <MudText Typo="Typo.body2">
                    This project represents some ideas I had stamming from different personal interests of mine. 
                    
                    First I remind myself quite often of the finetness of life. We don't live in a special time or place, we find our selves floating in space inside this rocky planet. 
                    
                    We come to existence suddenly with a genetic code predetermining every aspect of our host body. 
             
                    We the human species dominate our planet, even though we are not the fastest or the strongest of the life forms inhabiting this planet. I believe this is due to our ability to share knowledge and to make and use tools.
                    
                    I try to recreate these basic assumptions of our existence inside a computer simulation.
                    The goal of this simulation is 
                    The entity being spawned inside the simulation 
                    

                    By creating helper bots that I teach to perform simple actions, I seek to make to create a digital, immortal version of me!

                    Ever tried to use a computer inside a video game only to be disappointed by the very limited functionalities ? Say hi to the connected computer game, where the computer is the game and the game is the computer !

                    I seek to create a new kind of pc games, in which you the players create the world , the characters and the game logic. I provide some simple bots to help you start your journey!.

  I believe that we are in a simulation created by this entity :   this._parent = null , aka goD. 

                </MudText>

            </MudCardContent>
            <MudCardActions>
               <ServerTime></ServerTime>  
            </MudCardActions>
        </MudCard>


        

        <p>
            @* The ultimate goal is to create a game that is played by coding its functionalities, on the browser. *@
            @* You don't need to be a coder, think of a modern Age of empire kind of game. *@
            @* But if you are a coder, you may combine  *@
            
            <a href="https://docs.microsoft.com/en-us/aspnet/core/blazor/hosting-models?view=aspnetcore-5.0">
                Blazor Server
                and Blazor WebAssembly
            </a> modes.
        </p>

        <div class="alert alert-primary" role="alert">
            <b>Note:</b> you can also trigger actions in this sample via its
            <a href="/swagger" target="_blank">web API</a>.
        </div>

        <p>
            Choose the mode to use:<br />
            <BlazorModeSwitch />
        </p>
        <hr class="my-4">
        <p class="lead">Please share your feedback once you're done playing with it!</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://forms.gle/TpGkmTZttukhDMRB6" role="button">Share your feedback</a>
        </p>
    </MudContainer>
</MudPaper>




